{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>

<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>|  Welcome |</h1>
            <p>Welcome to the Darkequinox Blog !!. Here we will be talking about everything.I we want we can talk about python, adruino, c++.
                You can clarify any doubt you have. We can talk about machine learning , science tech, data science and stuff !
            </p>
            <p>GO visit my twitter for python modules<a href="https://twitter.com/DarkEquinox1"> Here </a> If you have any doubts please dm me in twitter. And check out my new videos!! </p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button"> GO TO POSTS 
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
<img src = 'https://www.google.com/search?q=cyan+wolf&sxsrf=ALeKk02FnpOufeFK2et46Uy6FhT7HCbEqQ:1584856735476&tbm=isch&source=iu&ictx=1&fir=WArVrdw539iPRM%253A%252ChR0S6gvp30NCXM%252C_&vet=1&usg=AI4_-kTtbVbBeg3bQEzeL9uFMLGZ44icEw&sa=X&ved=2ahUKEwi8pfO1s63oAhV1zzgGHdq5APwQ9QEwAHoECAQQIw#imgrc=WArVrdw539iPRM:'>
{% endblock %}